body {
    background-color: rgb(15, 15, 15);
    margin: auto;
}

canvas {
    border: 2px solid white;
    border-style: inset;
}

#topSection {
    color: white;
    font-family: "CMU Sans Serif";
    text-align: center;
    font-size: 16px;
}

#points {
    font-size: 200%;
}

.lapBtn {
    width: calc(100% - 10px);
    min-height: 100px;
    font-family: "CMU Sans Serif";
    font-size: 16px;
    margin: 0px 5px 10px 5px;
    border-radius: 5px;
    transition-duration: 200ms;
    padding: 10px;
}

.lapBtn:hover {
    cursor: pointer;
}