@font-face {
    font-family: "CMU Sans Serif";
    src: url("fonts/MonospaceTypewriter.ttf") format('truetype');
}

@font-face {
    font-family: "CMU Serif";
    src: url("fonts/MonospaceTypewriter.ttf") format('truetype');
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: rgb(7, 7, 7);
    margin: auto;
}

#topSection, #formula {
    color: rgb(191, 191, 191);
    font-family: "CMU Sans Serif";
    text-align: center;
    font-size: 14px;
}

#points {
    font-size: 250%;
}

.lapBtn {
    width: calc(100% - 10px);
    min-height: 100px;
    font-family: "CMU Sans Serif";
    font-size: 16px;
    margin: 0px 5px 10px 5px;
    border-radius: 5px;
    transition-duration: 200ms;
    padding: 10px;
}

.lapBtn:hover {
    cursor: pointer;
}